<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="Content-Security-Policy" content="script-src 'self' https://apis.google.com" /> -->
    <title>Document</title>
</head>
<body>
    구글 로그인 해보기
    <input type="button" class="button" value="">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="http://localhost:8080/google.js"></script>
</body>
</html>